.window {
	background-image: var(--connect-bg);
	background-repeat: no-repeat;
	background-size: cover;
}

.window .wrapper .logo {
	width: 250px;
	height: auto;
	display: block;
	margin: 3rem auto 2rem auto;
}

.window .wrapper .create-account-wrapper {
	width: 30%;
	min-width: 450px;
	height: auto;
	padding: 1rem;
	flow: vertical;
	position: relative;
	background: var(--window-bg);
	background-repeat: repeat;
	margin: 0px auto 2rem auto;
}

.window .wrapper .create-account-wrapper .group {
	width: *;
	flow: horizontal;
	border-spacing: *;
	margin-bottom: 1rem;
}

.window .wrapper .create-account-wrapper .group .field {
	width: 45%;
	flow: vertical;
	margin: 0px;
}

.window .wrapper .create-account-wrapper .group .field .title {
	width: *;
	font-family: var(--font-title);
	font-size: 0.9rem;
	font-weight: var(--regular);
	text-align: center;
	color: var(--title-text);
	text-shadow: 1px 1px 0px var(--black);
	margin-bottom: 0.3rem;
}

.window .wrapper .create-account-wrapper .group .field input {
	width: *;
	padding: 0;
	font-size: 1rem;
	color: var(--text);
	text-align: center;
	background: var(--black);
	border: none;
	border-radius: 3px;
	margin: 0px auto;
}

.window .wrapper .create-account-wrapper .field {
	width: *;
	flow: vertical;
}

.window .wrapper .create-account-wrapper .field .title {
	width: *;
	font-family: var(--font-title);
	font-size: 0.9rem;
	font-weight: var(--regular);
	text-align: center;
	color: var(--title-text);
	text-shadow: 1px 1px 0px var(--black);
	margin-bottom: 0.3rem;
}

.window .wrapper .create-account-wrapper .field input {
	width: 93%;
	padding: 0;
	font-size: 1rem;
	color: var(--text);
	text-align: center;
	background: var(--black);
	border: none;
	border-radius: 3px;
	margin: 0px auto;
}

.window .wrapper .button-wrapper {
	width: 30%;
	height: auto;
	flow: horizontal-wrap;
	border-spacing: *;
	margin: 0px auto 2rem auto;
}

.window .wrapper .button-wrapper .button {
	width: 100px;
	height: 40px;
	padding: * 0px;
	flow: vertical;
}

.window .wrapper .website {
	font-family: var(--font-title);
	position: absolute;
	bottom: 24px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: var(--text-c);
	text-shadow: 1px 1px 0px var(--black);
	margin-left: *;
	margin-right: *;
}