<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/account.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div id="render" class="wrapper">
                <h1 data-dictionary="master.global.name"></h1>

                <div class="characters-panel">
                    <h2 data-dictionary="frame.account.character_list"></h2>

                    <div class="characters-wrapper">
                        <div class="char selected">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <div class="char-level">
                                    <span data-dictionary="frame.account.level"></span>
                                    <span>50</span>
                                </div>
                                <span data-dictionary="master.classes.warrior" class="class"></span>
                            </div>

                            <span data-dictionary="master.cities.ullathorpe" class="location"></span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <span class="level">Nivel 50</span>
                                <span class="class">Guerrero</span>
                            </div>

                            <span class="location">Ullathorpe</span>
                        </div>
                    </div>

                    <div class="button-wrapper">
                        <button data-dictionary="frame.account.create_new_character_button" class="button"></button>
                        <button data-dictionary="frame.account.delete_character_button" class="button"></button>
                        <button data-dictionary="frame.account.logout_button" class="button"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="change-pw small-border">
                <div class="wrapper">
                    <div class="header">
                        <span class="title">Cambiar contraseña</span>
            
                        <button id="change_password_x" class="mini-button" tabindex="-1">x</button>
                    </div>
            
                    <div class="field">
                        <span class="title">Contraseña anterior:</span>
                        <input class="center-input" type="password" name="old_password">
                    </div>
            
                    <div class="field">
                        <span class="title">Nueva contraseña:</span>
                        <input class="center-input" type="password" name="new_password">
                    </div>
            
                    <div class="field">
                        <span class="title">Repetir nueva contraseña:</span>
                        <input class="center-input" type="password" name="confirm_password">
                    </div>
            
                    <div class="button-wrapper">
                        <button id="change_password_cancel" class="button">Cancelar</button>
                        <button id="change_password_confirm" class="button">Confirmar</button>
                    </div>
                </div>
            </div>

            <div class="del-char small-border">
                <div class="wrapper">
                    <div class="header">
                        <span class="title">Borrar personaje</span>
            
                        <button id="delete_char_x" class="mini-button" tabindex="-1">x</button>
                    </div>
            
                    <p>Escribí tu token para borrar tu personaje:</p>
            
                    <input class="center-input" type="password" password-char="#" name="token">
            
                    <div class="button-wrapper">
                        <button id="delete_char_cancel" class="button">Cancelar</button>
                        <button id="delete_character_confirm" class="button">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/account.js"></script>
    </body>    
</html>