<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/account.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div id="render" class="wrapper">
                <h1 data-translate>{master.global.name}</h1>

                <div class="characters-panel">
                    <h2 data-translate>{frame.account.character_list}</h2>

                    <div class="characters-wrapper">
                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <div class="char-level">
                                    <span data-translate>{frame.account.level}</span>
                                    <span>50</span>
                                </div>
                                <span class="class" data-translate>{master.classes.warrior}</span>
                            </div>

                            <span class="location" data-translate>{master.cities.ullathorpe}</span>
                        </div>

                        <div class="char">
                            <span class="name">Nombre</span>

                            <div class="char-info">
                                <div class="char-level">
                                    <span data-translate>{frame.account.level}</span>
                                    <span>50</span>
                                </div>
                                <span class="class" data-translate>{master.classes.warrior}</span>
                            </div>

                            <span class="location" data-translate>{master.cities.ullathorpe}</span>
                        </div>
                    </div>

                    <div class="button-wrapper">
                        <button class="button" data-translate>{frame.account.create_new_character_button}</button>
                        <button id="delete_character" class="button" data-translate>{frame.account.delete_character_button}</button>
                        <button class="button" data-translate>{frame.account.logout_button}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="del-char small-border">
                <div class="wrapper">
                    <div class="header">
                        <span class="title" data-translate>{frame.account.delete_character}</span>
            
                        <button id="delete_char_x" class="mini-button" tabindex="-1">x</button>
                    </div>

                    <p data-translate>{frame.account.are_you_sure} <b></b>?</p>
            
                    <p class="title" data-translate>{frame.account.enter_password}</p>
            
                    <input class="center-input" type="password" password-char="*" name="password">
            
                    <div class="system">
                        <p data-translate></p>
                    </div>

                    <button id="delete_character_confirm" class="button" data-translate>{frame.account.confirm_button}</button>
                </div>
            </div>
        </div>

        <script src="../js/account.js"></script>
    </body>    
</html>