<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/connect.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div class="wrapper">
                <div class="centered">
                    <h1 data-dictionary="master.global.name"></h1>

                    <div class="connect-wrapper small-border">
                        <div class="field">
                            <span data-dictionary="frame.connect.email" class="title"></span>
                            <input class="center-input" type="text" name="account" autofocus>
                        </div>

                        <div class="field">
                            <span data-dictionary="frame.connect.password" class="title"></span>
                            <input class="center-input" type="password" name="password">
                        </div>

                        <div class="system">
                            <p></p>
                        </div>
                    </div>

                    <div class="button-wrapper">
                        <button data-dictionary="frame.connect.create_button" id="create_account" class="button"></button>
                        <button data-dictionary="frame.connect.enter_button" id="login" class="button"></button>
                        <a data-dictionary="frame.connect.recover_button" class="button" href="#" target="@system"></a>
                        <button data-dictionary="frame.connect.exit_button" id="exit" class="button"></button>
                    </div>
                </div>
                
                <a data-dictionary="master.global.website" class="website" href="#" target="@system" tabindex="-1"></a>
            </div>
        </div>
        
        <script src="../js/connect.js"></script>
    </body>    
</html>