<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/connect.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div class="wrapper">
                <img class="logo" src="../assets/images/ui/logo.png">

                <div class="connect-wrapper small-border">
                    <div class="field">
                        <span class="title">Usuario / Email</span>
                        <input class="center-input" type="text" name="account" autofocus>
                    </div>

                    <div class="field">
                        <span class="title">Contraseña</span>
                        <input class="center-input" type="password" name="password">
                    </div>
                </div>

                <div class="button-wrapper">
                    <button id="create_account" class="button">Crear</button>
                    <button id="login" class="button">Entrar</button>
                    <a class="button" href="#" target="@system">Recuperar</a>
                    <button id="exit" class="button">Salir</button>
                </div>
                
                <a class="website" href="#" target="@system" tabindex="-1">www.thefutureishere.com</a>
            </div>
        </div>
        
        <script src="../js/connect.js"></script>
    </body>    
</html>