<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/create_account.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div class="wrapper">
                <img class="logo" src="../assets/images/ui/logo.png">

                <div class="create-account-wrapper small-border">
                    <div class="group">
                        <div class="field">
                            <span class="title">Nombre de usuario:</span>
                            <input class="center-input" type="text" name="account">
                        </div>

                        <div class="field">
                            <span class="title">Email:</span>
                            <input class="center-input" type="text" name="email">
                        </div>
                    </div>

                    <div class="group">
                        <div class="field">
                            <span class="title">Contraseña:</span>
                            <input class="center-input" type="password" name="password">
                        </div>

                        <div class="field">
                            <span class="title">Repetir contraseña:</span>
                            <input class="center-input" type="password" name="confirm_password">
                        </div>
                    </div>

                    <div class="field">
                        <span class="title">Token:</span>
                        <input class="center-input" type="password" password-char="#" name="token">
                    </div>
                </div>

                <div class="button-wrapper">
                    <button id="exit" class="button">Volver</button>
                    <button id="create_account" class="button">Crear</button>
                </div>

                <a class="website" href="#" target="@system" tabindex="-1">www.argentum.com</a>
            </div>
        </div>

        <script src="../js/create_account.js"></script>
    </body>    
</html>