<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/loading.css">
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div class="wrapper">
                <div class="centered">
                    <h1 data-translate>{master.global.name}</h1>

                    <div class="bar-wrapper">
                        <span class="description">Loading anything</span>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/loading.js"></script>
    </body>    
</html>