<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/loading.css">
        <style>@import url(../assets/css/lang.css);</style>
        <script|module>
            import {setLang} from "../js/lang.js";

            document.on("change", "form", function(evt, form) {
                setLang(form.value.lang);
            });
        </script>
    </head>
    <body>
        <div class="window big-border">
            <div class="tb"></div>
            <div class="lr"></div>
            <div class="ctb"></div>
            <div class="clr"></div>

            <div class="wrapper">
                <div class="centered">
                    <h1.x>global_name</h1>

                    <div class="bar-wrapper">
                        <span class="description">Loading anything</span>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/loading.js"></script>
    </body>    
</html>